@media screen and (min-width: 640px){
    .flex-container {
        display: flex;
    }    
}

.wrapper {
    margin: auto;
    max-width: 75rem;
}

main, header, section, aside, footer {
    margin: 0;
    padding: 20px;
    border: 1px solid #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt

}

a:hover {
    background-color:white;
}

main {
    background: #000000;
}

.header {
    font-family: 'Redressed', cursive;
    background: aquamarine;
    color:black;
    font-size: 30pt;
}

.header h1 {
    margin: 0;
    text-align: center;
}

.header div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17pt;
    text-align: right;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23pt;
    text-align: center;
    margin-top: 10pt;
}
 
.section1 {
    background: grey;
    color: black;
}

.section1 h3 {
    font-size: 18pt;
    margin-top: 10pt;
}

.section2 {
    
    background: #a2e6e4;
    flex: 1;
    color:black;
}
.section2 h4{
    font-size: 18pt;
    margin-top: 10pt;
}

.sidebar {
    border: 1px solid #000000;
    flex: 0 1 300px;
    color:black;
    background-color: lightcyan;
    }

.sidebar p{
    font-size: 18pt;
    font-weight: bold;
    margin-top: 10pt;
}

.footer {
    border: 1px solid #000000;
    background: #616161;
    background-image: url('http://cdn.pixabay.com/photo/2017/08/10/02/05/tiles-shapes-2617112_960_720.jpg');
    opacity: .6;
    color: white;
}