@media screen and (min-width: 640px){
    .flex-container {
        display: flex;
    }    
}

.wrapper {
    margin: auto;
    max-width: 75rem;
}

main, header, section, aside, footer {
    margin: 0;
    padding: 20px;
    border: 1px solid #000000;
    color: #ffffff;
}

main {
    background: #000000;
}

.header {
    background: aquamarine;
    color:black;
}

.section1 {
    background: rgb(151, 150, 150);
    color: black;
}

.section2 {
    background: #a2e6e4;
    flex: 1;
    color:black;
}

.sidebar {
    border: 1px solid #000000;
    background: whitesmoke;
    flex: 0 1 300px;
    color:black;
}

.footer {
    border: 1px solid #000000;
    background: #616161;
}