header { grid-area: title; }
nav { grid-area: navigation; }
body {grid-area: body; }
main { grid-area: main; }
footer { grid-area: footer; }

/*@media (max-width: 576px)
*/
.container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    flex-direction: row-reverse;
    grid-template-areas:
    "title title title"
    "navigation navigation navigation"
    "body body body"
    "main main main"
    "footer footer footer"
}

header {
    background-color: white;
    border: black;
    border-style: dotted;   
  }

h1 {
    font-family: 'Redressed', cursive;
    font-size: 60px;
    margin:5rem;
    border: black;
    padding: 5rem;
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

nav ul{
    background-color: rgb(30, 255, 0);
    list-style-type:none;
    display: flex;
    justify-content: space-evenly;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:x-large

}

body {
    background-color: aqua;
}
main {
    background-color: burlywood;
}

footer {
    text-align: center;
}

@media (max-width: 576px){
    .container {
        grid-template-areas:
        "title"
        "navigation"
        "body"
        "main"
        "footer";
    }
}